.nav {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-200);
  position: sticky;
  top: 0;
  background: var(--background);
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
}

.links {
  display: flex;
  gap: var(--spacing-md);
}

.links li a {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
